<div class="nav-bar show-menu">
    <div class="header-inner-content">
        <h1 class="logo"><a href="{% url 'store' %}">ITPRO<span>LOJA</span></a></h1>
        <nav>
            <ul>
                <li>Produtos</li>
            </ul>
            <div>
                <a href="#">Login</a>
                <a href="{ url 'cart' }">
                    <img src="assets/cart.png" alt="cart"/>
                <img src="assets/menu.png" alt="menu" class="menu-button"/>
                <p id="cart-total">0</p>
                </a>
            </div>
        </nav>
    </div>
</div>