{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <!--CSS global-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=1">
    <!--CSS da navbar-->
    <link rel="stylesheet" href="{% static 'css/components/navbar.css' %}?v=1">

    
</head>
<body>
    {% include 'store/components/navbar.html'%}

    <main class="container">
        {% block content %}
        <!-- Conteúdo específico da página vai aqui -->
        {% endblock %}
    </main>


    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>