{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <!--CSS global-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=1">
    <!--CSS da navbar-->
    <link rel="stylesheet" href="{% static 'css/components/navbar.css' %}?v=1">

    <script type="text/javascript">
        var user = '{{request.user}}';
        console.log(user)

        function getToken(name) {
            var cookieValue = null;
            if(document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++){
                    var cookie = cookies[i].trim();
                    //essa sequência de cookies começa com o nome que queremos
                    if (cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')

    </script>

    
</head>
<body>
    {% include 'store/components/navbar.html'%}

    <main class="container">
        {% block content %}
        <!-- Conteúdo específico da página vai aqui -->
        {% endblock %}
    </main>


    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>