{% extends 'store/base.html' %}
{% load static %}

<!--TODO: Adicionar <title>{% block title %}Título Padrão{% endblock %}</title>  -->

{% block content %}



<br>
<div class="row-checkout">
    <div class="col-lg-6">
        <div class="box-element-checkout" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                    
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small><!--TODO:mudar o nome do campo-->
            <button id="make-payment">Efetuar o pagamento</button>
        </div>
        
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr class="hr-summary">
            <h3>Order Summary</h3>
            <hr class="hr-summary">
            <div class="cart-row-summary">
                <div style="flex:2"><img class="row-image-summary" src="{% static 'image/placeholder.png' %}" alt="placeholder"></div>
                <div style="flex:2"><p>Product 1</p></div>
                <div style="flex:1"><p>$20.00</p></div>
                <div style="flex:1"><p>x2</p></div>
            </div>
            <h5>Items:   2</h5>
            <h5>Total:   $4</h5>
        </div>
    </div>
</div>

<!--Caso o produto seja digital não vai precisar de envio, criando script de ocultamento do formulário-->
<script type="text/javascript">
    var shipping = '{{order.shipping}}'

    if (shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    //O produto sendo fisico, passará pelo formulário, após isso clica no botão continuar, passará para botão opções de pagamento que esta em oculto no template
    //<div class="box-element hidden" id="payment-info">
    //Ocultando o botãop e mostrando opções de pagamento
    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()   //evita comportamento padrões da pagina
        console.log('Formulário enviado....')
        document.getElementById('form-button').classList.add("hidden");
        document.getElementById('payment-info').classList.remove("hidden")
    })
    


</script>


{% endblock content%}
